.articleSection {
  background: url("../images/element.png") no-repeat right center;
  &-boxes {
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    p {
      color: #7d7987;
    }
    a {
      color: #4089ed;
    }
  }
}
