.row {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  padding: 0 16px;
}
.cells {
  margin: -8px;
  display: flex;
  flex-flow: row wrap;
  & > .cell {
    padding: 8px;
  }
}
