body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

img {
  width: 100%;
  height: auto; }

p {
  line-height: 22px; }

* {
  box-sizing: border-box; }

.button {
  border-radius: 55px;
  padding: 0 50px;
  height: 56px;
  cursor: pointer; }
  .button-outline {
    background: transparent;
    border: 1px solid #458ff6;
    color: #458ff6; }
  .button-blue {
    box-shadow: 0 2px 2px 2px #a6a3ac;
    border: none;
    background: #458ff6;
    color: white; }
  .button-icon {
    width: 10px;
    margin-left: 5px; }

.container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  padding: 0 16px; }

.jus-between {
  justify-content: space-between; }

.al-center {
  align-items: center; }

.jus-center {
  justify-content: center; }

.flex-row {
  display: flex;
  flex-direction: row; }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.flex-wrap {
  flex-wrap: wrap; }

.flex-col {
  display: flex;
  flex-direction: column; }

.wi-10 {
  width: 10%; }

.wi-20 {
  width: 20%; }

.wi-33 {
  width: calc(100% / 3); }

.wi-30 {
  width: 30%; }

.wi-40 {
  width: 40%; }

.wi-50 {
  width: 50%; }

.wi-60 {
  width: 60%; }

.wi-70 {
  width: 70%; }

.wi-80 {
  width: 80%; }

.wi-90 {
  width: 90%; }

.wi-100 {
  width: 100%; }

.cells {
  margin: -8px;
  display: flex;
  flex-flow: row wrap; }
  .cells > .cell {
    padding: 8px; }

@media (max-width: 768px) {
  .small-wi-10 {
    width: 10%; }
  .small-wi-20 {
    width: 20%; }
  .small-wi-33 {
    width: calc(100% / 3); }
  .small-wi-30 {
    width: 30%; }
  .small-wi-40 {
    width: 40%; }
  .small-wi-50 {
    width: 50%; }
  .small-wi-60 {
    width: 60%; }
  .small-wi-70 {
    width: 70%; }
  .small-wi-80 {
    width: 80%; }
  .small-wi-90 {
    width: 90%; }
  .small-wi-100 {
    width: 100%; }
  .small-hide {
    display: none !important; }
  .small-mb-16 {
    margin-bottom: 16px; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .medium-wi-10 {
    width: 10%; }
  .medium-wi-20 {
    width: 20%; }
  .medium-wi-33 {
    width: calc(100% / 3); }
  .medium-wi-30 {
    width: 30%; }
  .medium-wi-40 {
    width: 40%; }
  .medium-wi-50 {
    width: 50%; }
  .medium-wi-60 {
    width: 60%; }
  .medium-wi-70 {
    width: 70%; }
  .medium-wi-80 {
    width: 80%; }
  .medium-wi-90 {
    width: 90%; }
  .medium-wi-100 {
    width: 100%; }
  .medium-hide {
    display: none !important; }
  .medium-mb-16 {
    margin-bottom: 16px; } }

@media (min-width: 1024px) {
  .large-wi-10 {
    width: 10%; }
  .large-wi-20 {
    width: 20%; }
  .large-wi-33 {
    width: calc(100% / 3); }
  .large-wi-30 {
    width: 30%; }
  .large-wi-40 {
    width: 40%; }
  .large-wi-50 {
    width: 50%; }
  .large-wi-60 {
    width: 60%; }
  .large-wi-70 {
    width: 70%; }
  .large-wi-80 {
    width: 80%; }
  .large-wi-90 {
    width: 90%; }
  .large-wi-100 {
    width: 100%; }
  .large-hide {
    display: none !important; } }

ul,
li {
  list-style: none; }

.header {
  width: 100%;
  padding: 15px 0; }
  .header .menu {
    display: flex;
    padding: 0 10px; }
    .header .menu .menu-item {
      padding: 20px; }
      .header .menu .menu-item .black-content {
        color: black; }
      .header .menu .menu-item a {
        display: block;
        text-decoration: none;
        color: #7d7987; }
        .header .menu .menu-item a:hover {
          color: black;
          transition: 0.5s; }

.mainSection {
  margin-top: 30px; }

.servicesSection {
  padding: 100px 0;
  background: url("../images/Frame.png") no-repeat left center; }
  .servicesSection-head {
    text-align: center; }
    .servicesSection-head h2 {
      padding: 30px 0;
      position: relative; }
      .servicesSection-head h2::after {
        content: "";
        width: 56px;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        background-color: black; }
    .servicesSection-head p {
      padding: 15px 0;
      color: #7d7987; }
  .servicesSection .content-box {
    padding: 50px 0;
    background-color: white;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    height: 100%; }
    .servicesSection .content-box .icon-box {
      width: 100px;
      padding: 15px; }
      .servicesSection .content-box .icon-box img {
        width: 100%;
        height: 100%; }
    .servicesSection .content-box h3 {
      padding: 20px; }
    .servicesSection .content-box p {
      padding: 20px;
      color: #7d7987; }
  .servicesSection .learn-box {
    padding: 50px 0; }

.leadingSection {
  width: 100%;
  padding: 100px 0; }
  .leadingSection .leading-h2 {
    position: relative;
    padding: 30px 0; }
    .leadingSection .leading-h2::after {
      content: "";
      width: 56px;
      height: 2px;
      background-color: black;
      border-radius: 10px;
      position: absolute;
      bottom: 0;
      left: 0; }
  .leadingSection p {
    padding: 20px 0;
    color: #7d7987; }

.downloadSection {
  width: 100%;
  padding: 100px 0; }
  .downloadSection .download-h2 {
    position: relative;
    padding: 30px 0; }
    .downloadSection .download-h2::after {
      content: "";
      width: 56px;
      height: 2px;
      background-color: black;
      border-radius: 10px;
      position: absolute;
      bottom: 0;
      left: 0; }
  .downloadSection p {
    padding: 20px 0;
    color: #7d7987; }

.sliderSection {
  width: 100%;
  text-align: center;
  color: white;
  padding: 50px 0; }
  .sliderSection .slider-wrapper {
    position: relative; }
    .sliderSection .slider-wrapper .blue-box {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      padding: 80px 15px;
      background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
      border-radius: 24px;
      opacity: 0;
      transition: position 0s, opacity 600ms linear; }
      .sliderSection .slider-wrapper .blue-box.active {
        opacity: 1;
        position: static; }
      .sliderSection .slider-wrapper .blue-box-content {
        padding: 50px 0;
        text-align: left; }
      .sliderSection .slider-wrapper .blue-box h2 {
        padding: 0 0 25px;
        position: relative;
        margin: 0 auto; }
        .sliderSection .slider-wrapper .blue-box h2::after {
          content: "";
          width: 56px;
          height: 2px;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 0);
          background-color: white; }
      .sliderSection .slider-wrapper .blue-box .circle-box {
        width: 120px;
        height: 120px;
        overflow: hidden;
        border-radius: 50%;
        border: 3px solid white;
        margin-right: 20px;
        flex: 0 0 120px; }

.articleSection {
  width: 100%;
  padding: 100px 0;
  background: url("../images/element.png") no-repeat right center; }
  .articleSection-head {
    text-align: center; }
    .articleSection-head h2 {
      padding: 30px;
      position: relative;
      margin-bottom: 50px; }
      .articleSection-head h2::after {
        content: "";
        width: 56px;
        height: 2px;
        background-color: black;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0); }
  .articleSection-boxes {
    height: 100%;
    background-color: white;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    overflow: hidden; }
    .articleSection-boxes .articleSection-content {
      padding: 20px; }
    .articleSection-boxes h3 {
      padding: 20px 0; }
    .articleSection-boxes p {
      padding: 10px 0;
      color: #7d7987; }
    .articleSection-boxes a {
      padding: 20px 0;
      display: block;
      color: #4089ed;
      text-decoration: none; }
  .articleSection .view-box {
    padding: 50px 0; }

.footer {
  width: 100%;
  background-image: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
  color: white;
  padding: 80px 0;
  line-height: 22px;
  font-size: 14px; }
  .footer img {
    width: 150px; }

/*# sourceMappingURL=map/app.css.map */
